@media only screen and (min-width: 40em) {
    .navigation {
        display: flex;
    }

    .navigation li {
        display: block;
        flex: 1 1 100%;
    }

    .navigation a {
        text-align: center;
    }

    #menu {
        display: none;
    }

    header {
        display: grid;
        grid-template-columns: 30% 70%;
    }

    header h1 {
        background-color: #d43333;
        color: white;
    }

    nav {
        position: unset;
        width: 100%;
    }

    nav ul {
        flex-direction: row;
    }

    section {
        grid-template-columns: 1fr 1fr;
        text-align: center;
    }

    img {
        max-width: 100%;
        height: auto;
    }
}

@media only screen and (min-width: 60em) {
    section {
        grid-template-columns: 1fr 1fr 1fr;
        text-align: center;
    }

    img {
        max-width: 100%;
        height: auto;
    }
}